/* stylelint-disable max-line-length */

/* Source Sans Pro - Regular */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('https://publish-p45403-e1547974.adobeaemcloud.com/content/frescopa.theme/_default/resources/fonts/SourceSansPro-Regular.ttf') format('truetype');
}

/* Source Sans Pro - Semi-Bold */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url('https://publish-p45403-e1547974.adobeaemcloud.com/content/frescopa.theme/_default/resources/fonts/SourceSansPro-SemiBold.ttf') format('truetype');
}

/* Source Sans Pro - Bold */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('https://publish-p45403-e1547974.adobeaemcloud.com/content/frescopa.theme/_default/resources/fonts/SourceSansPro-Bold.ttf') format('truetype');
}

/* Source Sans Pro - Italic */
@font-face {
  font-family: 'Source Sans Pro';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('https://publish-p45403-e1547974.adobeaemcloud.com/content/frescopa.theme/_default/resources/fonts/SourceSansPro-Italic.ttf') format('truetype');
}

/* Source Serif Pro - Regular */
@font-face {
  font-family: 'Source Serif Pro';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('https://publish-p45403-e1547974.adobeaemcloud.com/content/frescopa.theme/_default/resources/fonts/SourceSerifPro-Regular.ttf') format('truetype');
}

/* Source Serif Pro - Bold */
@font-face {
  font-family: 'Source Serif Pro';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('https://publish-p45403-e1547974.adobeaemcloud.com/content/frescopa.theme/_default/resources/fonts/SourceSerifPro-Bold.ttf') format('truetype');
}
